
.side-menu
  .side-menu__top
    .side-menu__top__user
      .side-menu__top__user__name 
        = current_user.name
      .side-menu__top__user__menu
        = link_to new_group_path ,class: "side-menu__top__user__menu__icon" do
          = icon "fas","edit"
          %span<>
        = link_to edit_user_path(current_user),class: "side-menu__top__user__menu__icon" do
          = icon "fas","cog"
          %span<>

  .side-menu__bottom
    %ul 
      - current_user.groups.each do |group|
        %li 
          .side-menu__bottom__group
            =link_to group_messages_path(group) do
              .side-menu__bottom__group__name
                %p= group.name
              .side-menu__bottom__group__message
                = group.show_last_message